body{
    margin:0;
    padding:0;
    font-weight:400;
    /*text-shadow:1px 1px 1px rgba(100,100,100,0.4);*/
    font-family: light, sans-serif;
}

@font-face{
    font-family:light;
    src:url(../../weather/vendor/SeroPro-Light.otf);
}

.weather {
    padding: 20px;
    position:absolute; top:120px; left:97.5px; width:187.5px; height:100px; z-index:-90;
}

.frame {
    position:absolute; top:106.72px; left:82.5px; width:187.5px; height:100px; z-index:-80;
    background-color:none;
    border:solid 3px #f3f3f3;
    box-sizing:border-box;
    -webkit-filter:drop-shadow(1px 1px 0px rgba(0,0,0,0.2));
}
